<!DOCTYPE html>
<html>
  <head>
    <title>Commits par minute</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        fetch('/commits_data/')
          .then(response => response.json())
          .then(data => {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Minute');
            dataTable.addColumn('number', 'Commits');

            data.forEach(function(row) {
              dataTable.addRow([row.minute.toString(), row.count]);
            });

            var options = {
              title: 'Nombre de Commits par Minute',
              curveType: 'function',
              legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(dataTable, options);
          })
          .catch(error => console.error('Error loading the data: ', error));
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
