<!DOCTYPE html>
<html>
  <head>
    <title>Commits Minute par Minute</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        fetch('/commits/data')
          .then(response => response.json())
          .then(data => {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Minute');
            dataTable.addColumn('number', 'Nombre de Commits');

            data.forEach(function(row) {
              dataTable.addRow(row);
            });

            var options = {
              title: 'Nombre de Commits par Minute',
              curveType: 'function',
              legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
          });
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </body>
</html>
